/* For use in src/lib/core/theming/_palette.scss */
$md-aztec: (
  50 : #e1e2e2,
  100 : #b5b7b7,
  200 : #848787,
  300 : #525757,
  400 : #2d3333,
  500 : #080f0f,
  600 : #070d0d,
  700 : #060b0b,
  800 : #040808,
  900 : #020404,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-primrose: (
  50 : #f9fdf3,
  100 : #f0f9e0,
  200 : #e7f6cb,
  300 : #ddf2b6,
  400 : #d5efa7,
  500 : #ceec97,
  600 : #c9ea8f,
  700 : #c2e784,
  800 : #bce47a,
  900 : #b0df69,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f7ffeb,
  A700 : #edffd2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-lochmara: (
  50 : #e1eef7,
  100 : #b3d4ea,
  200 : #80b7dc,
  300 : #4d9ace,
  400 : #2785c4,
  500 : #016fb9,
  600 : #0167b2,
  700 : #015caa,
  800 : #0152a2,
  900 : #004093,
  A100 : #bed6ff,
  A200 : #8bb5ff,
  A400 : #5894ff,
  A700 : #3f84ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-spunpearl: (
  50 : #f5f5f7,
  100 : #e6e5ec,
  200 : #d5d4df,
  300 : #c4c3d2,
  400 : #b8b6c9,
  500 : #aba9bf,
  600 : #a4a2b9,
  700 : #9a98b1,
  800 : #918fa9,
  900 : #807e9b,
  A100 : #ffffff,
  A200 : #f4f3fe,
  A400 : #c3bfff,
  A700 : #aca6ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-mischka: (
  50 : #fbfafc,
  100 : #f5f4f6,
  200 : #efecf1,
  300 : #e9e4eb,
  400 : #e4dfe6,
  500 : #dfd9e2,
  600 : #dbd5df,
  700 : #d7cfda,
  800 : #d2cad6,
  900 : #cac0cf,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

